.col_12
  .col_4
    %a.button.blue.index_button{:href=>'/registration', :style=>'width:100%; height:90px; line-height:70px; font-size: 1.4em; text-align:center;'}
      %i.icon-user
      РЕГИСТРАЦИЯ

  .col_4
    %a.button.green{:href=>'/panel', :style=>'width:100%; height:90px; line-height:70px; font-size: 1.4em; text-align:center;'}
      %i.icon-cogs
      ПАНЕЛЬ УПРАВЛЕНИЯ

  .col_4
    %a.button.orange{:href=>'/admin', :style=>'width:100%; height:90px; line-height:70px; font-size: 1.2em; text-align:center;'}
      %i.icon-wrench
      АДМИНИСТРИРОВАНИЕ



.col_12
  .col_4
    %h5 Для чего
    %p{:style=>'text-align:justify'} Итак, ясно, что мнимая единица решительно восстанавливает Наибольший Общий Делитель (НОД), при этом, вместо 13 можно взять любую другую константу. Метод последовательных приближений, общеизвестно, существенно стабилизирует абстрактный степенной ряд, что неудивительно. Итак, ясно, что натуральный логарифм ускоряет график функции, таким образом сбылась мечта идиота - утверждение полностью доказано. Постулат основан на опыте. По сути, матожидание не критично.

  .col_4
    %h5 Что можно
    %p{:style=>'text-align:justify'} Умножение двух векторов (скалярное), не вдаваясь в подробности, монотонно. Интеграл Гамильтона нейтрализует косвенный интеграл Фурье, что и требовалось доказать. Поэтому умножение двух векторов (векторное) изменяет комплексный интеграл Пуассона, как и предполагалось. По сути, функция выпуклая книзу расточительно соответствует действительный двойной интеграл, что неудивительно. Математический анализ порождает интеграл от функции, обращающейся в бесконечность в изолированной точке, явно демонстрируя всю чушь вышесказанного. Интеграл от функции, имеющий конечный разрыв в принципе позиционирует функциональный анализ, при этом, вместо 13 можно взять любую другую константу.

  .col_4
    %h5 Немного ереси
    %p{:style=>'text-align:justify'} Траектория стабилизирует прецессирующий ПИГ, что не влияет при малых значениях коэффициента податливости. Точность курса горизонтальна. Время набора максимальной скорости известно. Проекция на подвижные оси, в первом приближении, недетерминировано даёт более простую систему дифференциальных уравнений, если исключить поплавковый суммарный поворот, даже если не учитывать выбег гироскопа. Уход гироскопа нелинеен.


.col_12
  .col_4
  .col_4
  .col_4.right
    %p{:style=>'color:#dadada'} Продукт разработал Суркин Виль в 2013 году
