.col_12
  .col_4
    %a.button.blue.index_button{:href=>'/registration', :style=>'width:100%; height:90px; line-height:70px; font-size: 1.4em; text-align:center;'}
      %i.icon-user
      РЕГИСТРАЦИЯ

  .col_4
    %a.button.green{:href=>'/panel', :style=>'width:100%; height:90px; line-height:70px; font-size: 1.4em; text-align:center;'}
      %i.icon-cogs
      ПАНЕЛЬ УПРАВЛЕНИЯ

  .col_4
    %a.button.orange{:href=>'/admin', :style=>'width:100%; height:90px; line-height:70px; font-size: 1.2em; text-align:center;'}
      %i.icon-wrench
      АДМИНИСТРИРОВАНИЕ



.col_12
  .col_6
    %h5 Для чего
    %p{:style=>'text-align:justify'} Создан студентом для студентов. Предоставляет сервис виртуального хостинга ресурсов сервера. Даёт возможность бесплатно тестировать ваши приложения и разработки в ходе учебного процесса. Также вы можете в панели управления общаться с преподавателями и студентами с факультета.

  .col_6
    %h5 Что можно
    %p{:style=>'text-align:justify'} Здесь вы можете создавать сколь угодно много виртуальных хостов (напр. отдельный виртуальный хост для каждого приложения). Хостинг предоставляет возможность изменять файлы как из панели управления, так и по протоколу FTP. Для динамических приложений предоставляется PHP 5. Так же после регистрации вам будет доступно использование базы данных MySQL (по одной для каждого виртуального хоста).

.col_12
  .col_12.right
    %p{:style=>'color:#dadada'} Продукт разработал Суркин Виль в 2013 году
