!!!
%html{ html_attrs('ru')}
  %head
    %title= @title || "Авторизация"
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link{:href=>'/css/kickstart.css', :rel=>'stylesheet', :media=>'all'}
    %link{:href=>'/style.css', :rel=>'stylesheet'}
    %link{:href=>'/user_rewrites.css', :rel=>'stylesheet'}

    %script{:type=>'text/javascript', :src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:type=>'text/javascript', :src=>'/js/kickstart.js'}

  %body
    %nav.navbar
      %ul{:style=>'float:right'}
        %li
          %a{:href=>'/logout', :title=>'Выход'}
            %i.icon-signout
            Выход

      %ul
        %li
          %a{:href=>'/panel'}
            %span= @panel_title || "#{@student.name}"
        %li
        - if @sites.count < 1
          %a{:href=>'/panel/site/add'}
            %button.green.small
              %i.icon-plus
              Добавить сайт

    
    =yield
