.notice.success
  %h4 Очень хорошо!
  %p= "Мы создали вам аккаунт. Но для начала нам нужно удостовериться, что email #{params['email'].strip} действительно принадлежит вам. Поэтому мы выслали вам письмо со ссылкой для подтверждения регистрации."

.col_12.center
  %a{:href=>'/'} Тут больше делать нечего. Хочу на главную страницу хостинга!