.notice.error
  %h4 Поспешишь - людей насмешишь ;-)
  %h6 У нас не получилось создать вам аккаунт. Видимо, вы что-то не то указали.
  %p Скорее всего причина в следующем:
  %ul
    - @student.errors.each do |e|
      %li= e[0]

%a{:href=>'/registration'}
  %button.blue.col_12 Попробовать ещё раз