.notice.success
  %h4 Вот и всё!
  %p Вы подтвердили свой почтовый ящик. Теперь один из администраторов должен проверить вашу запись и разрешить вам доступ.

.col_12.center
  %a{:href=>'/'} Может быть ещё раз на главную страницу? Тут всё равно нечего больше делать.